
<mat-dialog-content class="mb-4">
  <h2 mat-dialog-title class="text-2xl font-bold text-red-600">Confirm Delete</h2>
  <p class="text-white-700">Are you sure you want to delete user <span class="font-semibold">{{ data.userName }}</span>?</p>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" class="mr-2" [mat-dialog-close]="false" tabindex="-1">Cancel</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="{ idUser: data.idUser }" tabindex="2" class="bg-red-500 hover:bg-red-600">Delete</button>
</mat-dialog-actions>