
  <mat-toolbar color="light dark">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>CRUD APIRESTDS</span>
    <span class="span">
      <button mat-button routerLink="/user-list">User List</button>
      <button mat-button routerLink="/insert-user">Create User</button>    
    </span>


  </mat-toolbar>

<div class="flex justify-center w-full max-w-px-96">
  <router-outlet></router-outlet>

</div>

